[Unit]
Description=Add wheel members to docker, plugdev

[Service]
Type=oneshot
ExecStart=/usr/libexec/zelf-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
